//
// Global Application Styling
//

.cursor-pointer {
  cursor: pointer;
}

.click-effect {
  :active {
    transform: scale(.95);
    transform-origin: center center;
  }
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}