$datePickerHeight: 80px;

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  // min-height: calc(100vh - 32px - $datePickerHeight);
  background-color: $gray-300;
  width: max-content;
  grid-gap: 1px;
  border: 1px solid $gray-300;
  width: auto !important;
  margin-bottom: 16px;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.grid-item {
  background-color: #fff;
  padding: 8px;
  // min-height: 150px;

  @include media-breakpoint-up(md) {
    min-height: 150px;
  }
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $datePickerHeight;

  svg {
    @extend .cursor-pointer, .click-effect, .text-primary;
    font-size: 2.5rem;
  }
}

.event-title-container {
  background-color: $secondary;
  padding: 4px;
  margin-bottom: 4px;
}